node_modules
# Keep environment variables out of version control
.env

/generated/prisma
helper.txt
dist/
# Firebase service account key
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.build.json
!nest-cli.json
!eslint.config.mjs
etf-flow-firebase.json
# Data files
data/

# Uploaded files
uploads/
