<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAluAWoNTkZteHJDXV3aC2iMd6Yf5MtFwk</string>
	<key>GCM_SENDER_ID</key>
	<string>516703918700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sly13.etfTracker</string>
	<key>PROJECT_ID</key>
	<string>etf-flow</string>
	<key>STORAGE_BUCKET</key>
	<string>etf-flow.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516703918700:ios:d5619926a4b45b8bee9649</string>
</dict>
</plist>